* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  list-style: none;
  text-decoration: none; }

nav {
  width: 100%;
  height: 15vh;
  background-color: #2C2A59; }
  nav .headerLogo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1rem; }
    nav .headerLogo a img {
      width: 6rem; }
    nav .headerLogo .brandName {
      color: white;
      font-size: 4rem; }

#mainIndex {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 85vh;
  background-image: url(../assets/img/banking.png);
  background-repeat: no-repeat;
  background-size: 125rem;
  background-position: 50%; }
  #mainIndex div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
    height: 100%;
    padding: 1.5rem;
    color: white; }
    #mainIndex div h1 {
      font-size: 4rem; }
    #mainIndex div h2 {
      font-size: 2rem; }
    #mainIndex div button {
      width: auto;
      height: 3.125rem;
      font-size: 1rem;
      padding: .5rem; }
  #mainIndex form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    margin: auto; }

.visible {
  display: none; }

nav a {
  color: white; }

.mainHome {
  height: 100%;
  background-image: linear-gradient(to bottom, #2c2a59, #373574, #424090, #4d4bac, #5956ca, #5b57d5, #5d59e1, #5f5aec, #5751e7, #4e48e3, #453fde, #3c36d9);
  text-align: center; }
  .mainHome .cardContainer {
    height: 30rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap; }
    .mainHome .cardContainer .card {
      border: solid black;
      border-radius: 10%;
      text-align: center;
      overflow: hidden; }
      .mainHome .cardContainer .card .cardButtons {
        padding: .5rem; }
  .mainHome .historial {
    width: 50%;
    background-color: black;
    margin: auto; }
    .mainHome .historial ul li {
      font-size: 1.5rem; }
  .mainHome .saldoContainer {
    min-width: 20rem;
    margin: 4rem;
    text-align: center;
    display: inline-block;
    padding: .5rem;
    border: solid black; }
  .mainHome #botonHistorial {
    display: inline-block;
    padding: 2rem;
    cursor: pointer; }

.deposito {
  color: white; }

.extraccion {
  color: red; }

.formDeposito,
.formExtraccion {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: .5rem; }
  .formDeposito input,
  .formExtraccion input {
    width: 50%; }

#deposito, #extraccion {
  all: initial; }

.visible {
  display: none; }

.card div img {
  width: 20rem;
  height: 16rem; }

h1 {
  text-align: center;
  color: black;
  padding: 1rem; }

.productosDeCanje, .indumentaria, .cocina, .hogar, .tecnologia {
  width: 62.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: .5rem;
  margin: auto;
  font-size: .7rem; }

.misPuntos {
  text-align: center;
  margin: 3rem; }

.posiblesCanjes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: .5rem;
  font-size: .7rem; }
  .posiblesCanjes .card div img {
    width: 20rem;
    height: 16rem; }

.productosCanjeados {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-evenly; }
  .productosCanjeados .card h2 {
    text-align: center;
    font-size: 1rem; }
