nav {
    a {
        color: white;
    }
}
.mainHome {
    height: 200vh;
    background-image: linear-gradient(to bottom, #2c2a59, #373574, #424090, #4d4bac, #5956ca, #5b57d5, #5d59e1, #5f5aec, #5751e7, #4e48e3, #453fde, #3c36d9);
    text-align: center;
    .cardContainer {
        min-height: 30rem;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        background-color: #cbbfbfbd;
        .card {
            border: solid black;
            border-radius: 10%;
            text-align: center;
            overflow: hidden;
            .cardButtons {
                padding: 8px;
            }
        }
    }
    .historial {
        width: 40%;
        background-color: #cbbfbfbd;
        margin: auto;
        text-align: left;
        ul {
            li {
                font-size: 24px;
            }
        }
    }
    .saldoContainer {
        min-width: 320px;
        margin: 64px;
        text-align: center;
        display: inline-block;
        background-color: #e2d5d544;
        padding: 8px;
        border: solid black;
    }
    #botonHistorial {
        display: inline-block;
        padding: 32px;
        &:hover {
            color: #cbbfbfbd;
        }
        cursor: pointer;
    }
}
.deposito {
    color: #0b0b0bdc;
}
.extraccion {
    color: red;
}
.formDeposito,
.formExtraccion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 8px;
    input {
        width: 50%;
    }

    
}
#deposito, #extraccion {
    all: initial;
}

.visible {
    display: none;
}