.misPuntos {
    text-align: center;
    margin: 3rem;
}
.posiblesCanjes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: .5rem;
    font-size: .7rem;
    .card {
        div {
            img {
                width: 20rem;
                height: 16rem;
            }
        }
    }
}