.mainProductos {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card {    
    background-color: #cbbfbfbd;
    border: 3px solid black;
    text-align: center;
    div {
        img{
            width: 20rem;
            height: 16rem;
        }
    }
    h2 {
        padding: 1rem;
    }
}
h1 {
    text-align: center;
    color: black;
    padding: 1rem;
}
.productosDeCanje, .indumentaria, .cocina, .hogar, .tecnologia {
    background-color: #cbbfbfc2;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    font-size: .7rem;
    
}
.productosDeCanje {
    background-color: #cbbfbfbd;
}