.card {
    div {
        img{
            width: 20rem;
            height: 16rem;
        }
    }
}
h1 {
    text-align: center;
    color: black;
    padding: 1rem;
}
.productosDeCanje, .indumentaria, .cocina, .hogar, .tecnologia {
    width: 62.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: .5rem;
    margin: auto;
    font-size: .7rem;
    
}
